alembic
fastapi
mysql-connector-python
mysqlclient
SQLAlchemy
uvicorn
pyjwt[crypto]
streaming-form-data
pytest
pytest-cov
starlette
pydantic
bcrypt
typer
boto3
mangum
httpx
moto
pandas
python-multipart
